<%include partials/header %>
<link href="https://fonts.googleapis.com/css?family=Courgette|Crimson+Text|Dancing+Script|Pacifico" rel="stylesheet">

<script type="text/javascript">
    function loadCSS(filename){ 
       var file = document.createElement("link");
       file.setAttribute("rel", "stylesheet");
       file.setAttribute("type", "text/css");
       file.setAttribute("href", filename);
       document.head.appendChild(file);
    }
   //just call a function to load your CSS
   //this path should be relative your HTML location
   loadCSS("/css/feast-menu.css");
</script>

<div class="container">
    <h1> Feast Menu</h1>
    <ul class="sectlist">
        <li class="sectitem"> "Bruin Wok"
            <ul class="itemlist">
                <li class="menuitem">
                    <a class="yelpreview"   href="/Tarako-Pasta-review" >Tarako Pasta</a>
                </li>   
                <li class="menuitem">
                    <a class="yelpreview"   href="/Mushu-review">Mushu Vegetable</a>
                </li>
            </ul>
        </li>
        <li class="sectitem"> "Spice Kitchen"
            <ul class="itemlist">
                <li class="menuitem"> Kalua Roast Pork </li>   
                <li class="menuitem"> Lychee Salad </li>
            </ul>
        </li>
        <li class="sectitem"> "Stone Oven"
            <ul class="itemlist">
                <li class="menuitem"> Chicken in Spinich Curry </li>   
                <li class="menuitem"> Indian Red Lentil Stew</li>
                <li class="menuitem"> Okra Curry</li>
            </ul>
        </li>
        <li class="sectitem"> "Iron Grill"
            <ul class="itemlist">
                <li class="menuitem"> Chinese Egg Roll </li>   
                <li class="menuitem"> Grilled Zucchini</li>
                <li class="menuitem"> Korean Egg Snack Sandwich</li>
            </ul>
        </li>
        
    </ul>
</div>