<%include partials/header %>

<script type="text/javascript">
    function loadScript(filename){ 
       var file = document.createElement("script");
       file.setAttribute("src", filename);
       document.head.appendChild(file);
    }
   //just call a function to load your CSS
   //this path should be relative your HTML location
   loadScript("https://www.gstatic.com/firebasejs/5.5.8/firebase.js");
</script>


	<h1>New Comment</h1>
	<form action="">
		What's the Restaurant?
		<input type="text" name="Restaurant">
		What's the Dish?
		<input type="text" name="Dish">
		What's Your Comment?
		<input type="text" name="Comment">
		<input type="submit" name="Submit">
	</form>

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAE1b45NBYVD26qCBr2hKezxZEclNsV2Hw",
    authDomain: "bruineating.firebaseapp.com",
    databaseURL: "https://bruineating.firebaseio.com",
    projectId: "bruineating",
    storageBucket: "bruineating.appspot.com",
    messagingSenderId: "287459212086"
  };
  firebase.initializeApp(config);

  var rootRef = firebase.database().ref().child('comments');

  $('#Submit').click(funtion(){
    rootRef.set({
      Restaurant:$('#Restaurant').val(),
      Dish:$('#Dish').val(),
      Comment:$('#Comment').val()
    });
  })
</script>

<%include partials/footer %>



