<%include partials/header %>
	<h1>New Comment</h1>
	<form>
		What's the Restaurant?
		<input type="text" name="Restaurant">
		What's the Dish?
		<input type="text" name="Dish">
		What's Your Comment?
		<input type="text" name="Comment">
		<input type="submit" name="Submit">
	</form>
<%include partials/footer %>
