<%include partials/header %>

<script type="text/javascript">
    function loadScript(filename){ 
       var file = document.createElement("script");
       file.setAttribute("src", filename);
       document.head.appendChild(file);
    }
   //just call a function to load your CSS
   //this path should be relative your HTML location
   loadScript("https://www.gstatic.com/firebasejs/5.5.8/firebase.js");
</script>


	<h1>New Comment</h1>
	<form action="">
		What's the Restaurant?
		<input type="text" name="Restaurant" id="Restaurant">
		What's the Dish?
		<input type="text" name="Dish" id="Dish">
		What's Your Comment?
		<input type="text" name="Comment" id="Comment">
		<input type="submit" name="Submit" id="Submit">
	</form>

<%include partials/footer %>

<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAE1b45NBYVD26qCBr2hKezxZEclNsV2Hw",
    authDomain: "bruineating.firebaseapp.com",
    databaseURL: "https://bruineating.firebaseio.com",
    projectId: "bruineating",
    storageBucket: "bruineating.appspot.com",
    messagingSenderId: "287459212086"
  };
  firebase.initializeApp(config);
  //var rootRef = firebase.database().ref()；
  //.child('comments');
    var DishRef = firebase.database().ref();
    var dsdf;
    DishRef.on('value', function(snapshot) {
    	dsdf = snapshot.val()['Feast']['Orange Chicken'];
    	var comments = (Object.keys(dsdf));
    	comments.forEach(e =>{
    		console.log(dsdf[e]);
    		let template = `
    			<div style="border: 1px solid black;">Comment: ${dsdf[e]['Comment']}</div>
    		`;
    		document.body.insertAdjacentHTML('beforeend', template);
    	})
    });
   
  $("#Submit").click(function(e){
  	e.preventDefault();

  	var Restaurant = $("#Restaurant").val();
  	var Dish = $("#Dish").val();
  	var Comment = $("#Comment").val();

    //var ref = firebase.database().ref();

    var DishRef = firebase.database().ref();
   
    DishRef.push({
    	Comment: Comment
    });

    

    // var query = DishRef;
    /*query.once("value")
      .then(function(snapshot) {
      	snapshot.forEach(function(childSnapshot) {
      		console.log(childSnapshot.val());

      	});
      });*/

      DishRef.on('value', function(snap){
      	console.log(snap.val());
      }, function (errorObject){
      	// console.log(errorObject.code);
      });

    /*DishRef.on('value', function(snapshot) {
    	console.log(snapshot.val())
    });*/

 



  	/*var DishRef = firebase.database().ref(Restaurant+"/"+Dish);
  	var CommentCounterRef = firebase.database().ref(Restaurant+"/"+Dish+"/Counter");

  	console.log(CommentCounterRef.toString());

  	var currentCounter;

  	ref.once('value')
  	.then(function(dataSnapshot) {
  		console.log(dataSnapshot.val());
  	});

  	var newComment = DishRef.push();

  	newComment.set({
  		Comment: Comment
  	});*/
  });

</script>





