<%include partials/header %>
<script type="text/javascript">
    function loadCSS(filename){ 
       var file = document.createElement("link");
       file.setAttribute("rel", "stylesheet");
       file.setAttribute("type", "text/css");
       file.setAttribute("href", filename);
       document.head.appendChild(file);
    }
   //just call a function to load your CSS
   //this path should be relative your HTML location
   loadCSS("/css/new-comment.css");
</script>
  <div class="title"><h1>New Comment For <%=dininghall.name%></h1></div>

<div class="form" >
  <form action="/DiningHalls/<%=dininghall.name%>/comments" method="POST">
    <div class="form-group">
      <label for="exampleFormControlSelect2">What is your rating?</label>
      <select class="form-control" id="exampleFormControlSelect2" name="comment[rating]">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option> 
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">What is your comment?</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="comment[comment]"></textarea>
      <button type="submit" class="btn btn-success" id="buttonid">Submit</button>
    </div>
  </form>
</div>

<%include partials/footer %>