<%include partials/header %>

<script type="text/javascript">
    function loadCSS(filename){ 
       var file = document.createElement("link");
       file.setAttribute("rel", "stylesheet");
       file.setAttribute("type", "text/css");
       file.setAttribute("href", filename);
       document.head.appendChild(file);
    }
   //just call a function to load your CSS
   //this path should be relative your HTML location
   loadCSS("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
</script>

<script type="text/javascript">
    function loadCSS(filename){ 
       var file = document.createElement("link");
       file.setAttribute("rel", "stylesheet");
       file.setAttribute("type", "text/css");
       file.setAttribute("href", filename);
       document.head.appendChild(file);
    }
   //just call a function to load your CSS
   //this path should be relative your HTML location
   loadCSS("/css/Tarako-Pasta-review.css");
</script>

<div class="page">
    <div class="jumbotron">
        <div class="container">
            <h2>Tarako Pasta</h2>
              <!-- <img src="https://www.japanesecooking101.com/wp-content/uploads/2016/04/IMG_9399.jpg"> -->
              <!-- Trigger the Modal -->
            <img id="myImg" src="https://www.japanesecooking101.com/wp-content/uploads/2016/04/IMG_9399.jpg" alt="Dish" style="width:100%;max-width:300px">
              <!-- The Modal -->
            <div id="myModal" class="modal">
              <!-- The Close Button -->
              <span class="close">&times;</span>
                <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img01">
                <!-- Modal Caption (Image Text) -->
              <div id="caption"></div>
              <script type="text/javascript">
                // Get the modal
                var modal = document.getElementById('myModal');

                // Get the image and insert it inside the modal - use its "alt" text as a caption
                var img = document.getElementById('myImg');
                var modalImg = document.getElementById("img01");
                var captionText = document.getElementById("caption");
                img.onclick = function(){
                    modal.style.display = "block";
                    modalImg.src = this.src;
                    captionText.innerHTML = this.alt;
                }

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

                // When the user clicks on <span> (x), close the modal
                span.onclick = function() { 
                  modal.style.display = "none";
                }
              </script>
            </div>
        </div>
    </div>
  <div class="ratingbar"> 
    <span class="heading">User Rating</span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    
      <a href="/new-comment">
        <div class="btn btn-success">
          Leave a Comment!
        </div>
      </a>
    
    <p>4.1 average based on 254 reviews.</p>
    <hr style="border:3px solid #f1f1f1">

    <div class="row">
      <div class="side">
        <div>5 star</div>
      </div>
      <div class="middle">
        <div class="bar-container">
          <div class="bar-5"></div>
        </div>
      </div>
      <div class="side right">
        <div>150</div>
      </div>
      <div class="side">
        <div>4 star</div>
      </div>
      <div class="middle">
        <div class="bar-container">
          <div class="bar-4"></div>
        </div>
      </div>
      <div class="side right">
        <div>63</div>
      </div>
      <div class="side">
        <div>3 star</div>
      </div>
      <div class="middle">
        <div class="bar-container">
          <div class="bar-3"></div>
        </div>
      </div>
      <div class="side right">
        <div>15</div>
      </div>
      <div class="side">
        <div>2 star</div>
      </div>
      <div class="middle">
        <div class="bar-container">
          <div class="bar-2"></div>
        </div>
      </div>
      <div class="side right">
        <div>6</div>
      </div>
      <div class="side">
        <div>1 star</div>
      </div>
      <div class="middle">
        <div class="bar-container">
          <div class="bar-1"></div>
        </div>
      </div>
      <div class="side right">
        <div>20</div>
      </div> 
    </div>
  </div>
</div>
<%include partials/footer %>
