<%include partials/header %>

<script type="text/javascript">
    function loadCSS(filename){ 
       var file = document.createElement("link");
       file.setAttribute("rel", "stylesheet");
       file.setAttribute("type", "text/css");
       file.setAttribute("href", filename);
       document.head.appendChild(file);
    }
   //just call a function to load your CSS
   //this path should be relative your HTML location
   loadCSS("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
</script>

<script type="text/javascript">
    function loadCSS(filename){ 
       var file = document.createElement("link");
       file.setAttribute("rel", "stylesheet");
       file.setAttribute("type", "text/css");
       file.setAttribute("href", filename);
       document.head.appendChild(file);
    }
   //just call a function to load your CSS
   //this path should be relative your HTML location
   loadCSS("/css/Tarako-Pasta-review.css");
</script>

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h3>Tarako Pasta</h3>
        </div>
    </div>
</div>

<div class="ratingbar"> 
  <span class="heading">User Rating</span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star"></span>
  <p>4.1 average based on 254 reviews.</p>
  <hr style="border:3px solid #f1f1f1">

  <div class="row">
    <div class="side">
      <div>5 star</div>
    </div>
    <script type="text/javascript">
      function loadCSS(filename){ 
         var file = document.createElement("link");
         file.setAttribute("rel", "stylesheet");
         file.setAttribute("type", "text/css");
         file.setAttribute("href", filename);
         document.head.appendChild(file);
      }
     //just call a function to load your CSS
     //this path should be relative your HTML location
     loadCSS("/css/DiningHalls.css");
  </script>

    <div class="middle">
      <div class="bar-container">
        <div class="bar-5"></div>
      </div>
    </div>
    <div class="side right">
      <div>150</div>
    </div>
    <div class="side">
      <div>4 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-4"></div>
      </div>
    </div>
    <div class="side right">
      <div>63</div>
    </div>
    <div class="side">
      <div>3 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-3"></div>
      </div>
    </div>
    <div class="side right">
      <div>15</div>
    </div>
    <div class="side">
      <div>2 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-2"></div>
      </div>
    </div>
    <div class="side right">
      <div>6</div>
    </div>
    <div class="side">
      <div>1 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-1"></div>
      </div>
    </div>
    <div class="side right">
      <div>20</div>
    </div>
  </div>
</div>