#Title{
	background-image: url("https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9647d95a500b5e222258fb03ed086ed1&auto=format&fit=crop&w=800&q=80");
    background-size: cover;
    height: 100vh;
}

img{
	width: 98%;
	height: 80%;
}

.navbar-inverse{
	background: #ffffff00;
	border-radius: 0px;
	border:none;
}

.active{
	background: #ffffff00;
}

.navbar-brand{
	color: white !important;
	font-weight: 700;
}

.navbar-nav>li>a{
	color: white !important;
	font-weight: 500;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
	text-shadow: none;
}

.jumbotron{
 	background: #ffffff00;
}

.form-control{
	background-color: #ffffff00;
}

.btn-default{
	color: gray;
	text-shadow: none;
	background-image: none;
	background-color: #ffffff00;
}

.btn-default: hover{
	border:none;
}

.jumbotron h1{
	text-align: center;
	font-size: 70px;
	font-weight: 500;
	color: white;
	padding-top:16%;
}

.row{
	padding-top: 2%;
}

.jumbotron p{
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: 400;
	font-family: Helvetica,cursive;
	/*letter-spacing:1px;*/
}