

body{
	background-image: url("https://images.unsplash.com/photo-1511910849309-0dffb8785146?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cb677eb9f83408ece2d78918458f1cb4&auto=format&fit=crop&w=668&q=80");
	background-size: cover;
	background-position: center;
	height:70vh;
}

.container{
	background-color: rgba(220, 214, 156, 0.93);
	background-position: auto;
	margin-top: 50px;
	/*margin: 8%;
*/	padding-bottom: 10px;
	margin-bottom: 50px;
}

.sectlist{
	padding-left: 0px;
}

.container h1{
	color: rgb(	86, 84, 33);
	text-align: center;
	font-family: Dancing Script,cursive;
	font-size: 60px;
	font-weight:200;
}

.itemlist{
	padding-left: 0px;
}

a{
	color:rgb(111, 108, 56);
}
.sectitem{
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	color: rgb(111, 108, 56);
	font-family: Pacifico, cursive;
	margin-top: 17px;
	margin-bottom: 10px;
}

.sectitem li{
	list-style-type: none;
	font-family: Courgette, cursive; !important

}

/*.sectlist li{
	list-style-type: none;
	font-family: Crimson Text, serif;
}*/

.menuitem{
	font-size: 20px;
}